<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neildg.mobidev_handsonrepo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_lifecycle.LifecycleActivity" />
        <activity android:name=".activity_lifecycle.LifecycleActivityWorkspace" />
        <activity android:name=".activity_restaurant.AddRestaurantActivity" />
        <activity
            android:name=".activity_restaurant.RestaurantActivity"
            android:label="Restaurant Randomizer" />
        <activity
            android:name=".activity_restaurant.ChooseRestoWorkActivity"
            android:label="Choose Resto Work" />
        <activity
            android:name=".activity_restaurant_workspace.S14_RestaurantActivity"
            android:label="S14 - Restaurant Randomizer" />
        <activity
            android:name=".activity_restaurant_workspace.S16_RestaurantActivity"
            android:label="S16 - Restaurant Randomizer" />
        <activity
            android:name=".activity_musicplayer.MusicPlayerActivity"
            android:label="Music Player"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity_musicplayer_workspace.S14_MusicPlayerActivity"
            android:label="S14 - Music Player" />
        <activity
            android:name=".activity_musicplayer_workspace.S16_MusicPlayerActivity"
            android:label="S16 - Music Player" />
        <activity
            android:name=".activity_musicplayer.ChooseMusicActivity"
            android:label="Choose Music Player Work" />

        <service
            android:name=".activity_musicplayer.music_playback.MusicService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".activity_restaurant_workspace.S14_AddRestaurantActivity" />
        <activity android:name=".activity_restaurant_workspace.S16_AddRestaurantActivity" />
        <activity
            android:name=".activity_firebase.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".activity_firebase.LoginSuccessActivity" />
        <activity android:name=".activity_firebase.SignUpActivity"></activity>
    </application>

</manifest>